.imageWrapper {
    display: block;
    position: absolute;
}

.image-title-holder {
    display: none;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    cursor: pointer;
    margin: 35% auto;
    float: right;
    width: 100%;
    text-align:center;
    color: #FFF;
}

.image-title {
    font-size: 1.4em;
}

.image-description {
    font-size: 1.2em;
    margin-top:5%;
}

.imageGridItem:hover .image-title-holder {
    display:block;
}

.imageWrapper:hover {
    filter: brightness(60%);
}

.image-title-holder:hover ~ .imageWrapper {
    filter: brightness(60%);
}


